html {
	background-color: lightsteelblue;
	font-family: "serif";
}

h1 {
	text-align: center;
	border: 1px solid black;
}

a {
	color: green;
	font-weight: bold;
}

p {
	width: 400px;
}

h2 {
	font-size: 16 px;
}
