html {
	background-color: lightsteelblue;
	font-family: "serif";
}

h1 {
	text-align: center;
}

a {
	color: lime;
	font-weight: bold;
}

p {
	width: 100px;
}

h2 {
	border: 1px solid black;
	font-size: 16 px;
}
