.navList {
  text-align: center;
  background-color: lightblue;
  padding-top: 1%;
  padding-bottom: 1%;
}

.unindentList {
  padding: 0;
}

.navElement {
  display: inline-block;
  margin-right: 5%;
  margin-left: 5%;
  font-family: Georgia;
  font-size: 30px;
}

.logo {
  display: inline-block;
  margin-right: 20%;
  margin-left: 1%;
  font-family: Georgia;
  font-weight: bolder;
  font-size: 30px;
  color: white;
}

.plainLink {
  color: white;
  text-decoration: none;

}

body {
  margin: 0px;
}

nav {
  position: sticky;
}
