.navList {
  text-align: center;
  background-color: lightblue;
  padding-top: 1%;
  padding-bottom: 1%;
}

.unindentList {
  padding: 0;
}

.navElement {
  display: inline-block;
  margin-right: 5%;
  margin-left: 5%;
  font-family: Georgia;
  font-size: 30px;
}

.plainLink:hover {
  color: white;
}

.logo {
  display: inline-block;
  margin-right: 20%;
  margin-left: 1%;
  font-weight: bolder;
  font-size: 30px;
}

.plainLink {
  color: black;
  text-decoration: none;

}

body {
  margin: 0px;
}

nav {
  position: sticky;
}

h1 {
  text-align: center;
  font-family: Georgia;
  font-weight: normal;
  margin-top: 30px;
}

p {
  margin-left: 10%;
  margin-right: 10%;
  line-height: 25px;
  margin-top: 3%;
  font-family: Georgia;
  font-size: 20px;
}
